In [20]:
import psycopg2

try:
    connection = psycopg2.connect(
        host="localhost",     
        database="postgres",   
        user="postgres",  
        password="Sharad@2001",  
        port="5432"       
    )

    cursor = connection.cursor()
    print(connection.get_dsn_parameters(), "\n")
    cursor.execute("SELECT version();")
    db_version = cursor.fetchone()
    print("You are connected to - ", db_version, "\n")
except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

{'user': 'postgres', 'channel_binding': 'prefer', 'dbname': 'postgres', 'host': 'localhost', 'port': '5432', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'sslcertmode': 'allow', 'sslsni': '1', 'ssl_min_protocol_version': 'TLSv1.2', 'gssencmode': 'disable', 'krbsrvname': 'postgres', 'gssdelegation': '0', 'target_session_attrs': 'any', 'load_balance_hosts': 'disable'}

You are connected to -  ('PostgreSQL 16.3, compiled by Visual C++ build 1938, 64-bit',)

In [21]:

cursor = connection.cursor()
cursor.execute("""
    SELECT table_name 
    FROM information_schema.tables
    WHERE table_schema = 'public'
""")

tables = cursor.fetchall()
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
cars
students
chatbot_data
student
employeeproject
employeeproject1
employeeproject2
faculty_info
staff
payment
employee
department
loan
borrower
emp
dept
student_trigger
office_branch
notifications
employees
salary_increases
emp1

In [22]:
import pandas as pd
table_name='loan'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

   loanid branch  amount
0       1     B1   15000
1       2     B2   10000
2       3     B3   20000
3       4     B4  100000
4       5     B5  150000
5       6     B6   50000
6       7     B7   35000
7       8     B8   85000

In [23]:
table_name='emp'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

   eid ename  esalary
0    1     A       50
1    2     B       60
2    3     C       70

In [24]:
table_name='borrower'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

   custid        custname  loanid
0       8  Sonakshi Dixit       1
1       9     Shital Garg       4
2      10     Swara Joshi       5
3      11   Isha Deshmukh       2
4      12      Swati Bose       7
5      13     Asha Kapoor       6
6      14    Nandini Shah       8

In [25]:
table_name='department'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

   departmentid department_name  employee_id
0             1      Production            1
1             2           Sales            3
2             3       Marketing            4
3             4        Accounts            5
4             5     Development            7
5             6              HR            9
6             7           Sales           10

In [26]:
table_name='payment'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

   payment_id       pdate  staff_id  amount
0         101  2009-12-30         1    3000
1         102  2010-02-22         3    2500
2         103  2010-02-23         4    3500

In [27]:
import psycopg2

try:
    connection = psycopg2.connect(
        host="localhost",     
        database="postgres",   
        user="postgres",  
        password="Sharad@2001",  
        port="5432"
    )

    cursor = connection.cursor()

   


    insert_values_query = '''
    INSERT INTO emp1 (name, position, salary, joining_date)
    VALUES
    ('Sharad Pandey', 'Manager', 85000, '2020-01-11'),
    ('Kaustav Roy', 'Developer', 70000, '2021-03-18'),
    ('Aarav Jain', 'Designer', 45000, '2019-08-12');
    '''
    cursor.execute(insert_values_query)
    connection.commit()  

    print("Values inserted successfully into 'emp1' table.")

    cursor.execute("SELECT * FROM emp1;")
    rows = cursor.fetchall()

    print("\nContents of 'emp1' table:")
    for row in rows:
        print(row)

except (Exception, psycopg2.Error) as error:
    print("Error while working with PostgreSQL", error)

Values inserted successfully into 'emp1' table.

Contents of 'emp1' table:
(1, 'John Doe', 'Manager', Decimal('75000.00'), datetime.date(2020, 1, 15))
(2, 'Jane Smith', 'Developer', Decimal('60000.00'), datetime.date(2021, 3, 22))
(3, 'Sam Wilson', 'Designer', Decimal('55000.00'), datetime.date(2019, 8, 10))
(4, 'John Doe', 'Manager', Decimal('75000.00'), datetime.date(2020, 1, 15))
(5, 'Jane Smith', 'Developer', Decimal('60000.00'), datetime.date(2021, 3, 22))
(6, 'Sam Wilson', 'Designer', Decimal('55000.00'), datetime.date(2019, 8, 10))
(7, 'Sharad Pandey', 'Manager', Decimal('85000.00'), datetime.date(2020, 1, 11))
(8, 'Kaustav Roy', 'Developer', Decimal('70000.00'), datetime.date(2021, 3, 18))
(9, 'Aarav Jain', 'Designer', Decimal('45000.00'), datetime.date(2019, 8, 12))
(10, 'Sharad Pandey', 'Manager', Decimal('85000.00'), datetime.date(2020, 1, 11))
(11, 'Kaustav Roy', 'Developer', Decimal('70000.00'), datetime.date(2021, 3, 18))
(12, 'Aarav Jain', 'Designer', Decimal('45000.00'), datetime.date(2019, 8, 12))
(13, 'Sharad Pandey', 'Manager', Decimal('85000.00'), datetime.date(2020, 1, 11))
(14, 'Kaustav Roy', 'Developer', Decimal('70000.00'), datetime.date(2021, 3, 18))
(15, 'Aarav Jain', 'Designer', Decimal('45000.00'), datetime.date(2019, 8, 12))
(16, 'Sharad Pandey', 'Manager', Decimal('85000.00'), datetime.date(2020, 1, 11))
(17, 'Kaustav Roy', 'Developer', Decimal('70000.00'), datetime.date(2021, 3, 18))
(18, 'Aarav Jain', 'Designer', Decimal('45000.00'), datetime.date(2019, 8, 12))

In [28]:
table_name='emp1'
query=f"SELECT *FROM {table_name};"
cursor.execute(query)
rows=cursor.fetchall()
columns=[desc[0] for desc in cursor.description]
df=pd.DataFrame(rows,columns=columns)
print(df)

    id           name   position    salary joining_date
0    1       John Doe    Manager  75000.00   2020-01-15
1    2     Jane Smith  Developer  60000.00   2021-03-22
2    3     Sam Wilson   Designer  55000.00   2019-08-10
3    4       John Doe    Manager  75000.00   2020-01-15
4    5     Jane Smith  Developer  60000.00   2021-03-22
5    6     Sam Wilson   Designer  55000.00   2019-08-10
6    7  Sharad Pandey    Manager  85000.00   2020-01-11
7    8    Kaustav Roy  Developer  70000.00   2021-03-18
8    9     Aarav Jain   Designer  45000.00   2019-08-12
9   10  Sharad Pandey    Manager  85000.00   2020-01-11
10  11    Kaustav Roy  Developer  70000.00   2021-03-18
11  12     Aarav Jain   Designer  45000.00   2019-08-12
12  13  Sharad Pandey    Manager  85000.00   2020-01-11
13  14    Kaustav Roy  Developer  70000.00   2021-03-18
14  15     Aarav Jain   Designer  45000.00   2019-08-12
15  16  Sharad Pandey    Manager  85000.00   2020-01-11
16  17    Kaustav Roy  Developer  70000.00   2021-03-18
17  18     Aarav Jain   Designer  45000.00   2019-08-12

In [29]:
cursor=connection.cursor()
table_name='office_Branch'
query=f'''CREATE TABLE {table_name}
(
Office_Id INT PRIMARY KEY,
Office_Name VARCHAR(50),
Office_Branch VARCHAR(50),
Office_Location VARCHAR(50)
)
'''
cursor.execute(query)
connection.commit()

DuplicateTable: relation "office_branch" already exists

In [31]:
import psycopg2

try:
    
    connection = psycopg2.connect(
        host="localhost",     
        database="postgres",   
        user="postgres",  
        password="Sharad@2001",  
        port="5432"
    )

    cursor = connection.cursor()

    insert_query = '''INSERT INTO office_Branch(Office_Id, Office_Name, Office_Branch, Office_Location)
    VALUES (1, 'CIPL', 'sector-6', 'noida')'''

    cursor.execute(insert_query)
    connection.commit()

    print("Values inserted successfully into 'office_Branch' table.")

    cursor.execute("SELECT * FROM office_Branch;")
    rows = cursor.fetchall()

    print("\nContents of 'office_Branch' table:")
    for row in rows:
        print(row)

except (Exception, psycopg2.Error) as error:
    print("Error while working with PostgreSQL", error)

Values inserted successfully into 'office_Branch' table.

Contents of 'office_Branch' table:
(1, 'CIPL', 'sector-6', 'noida')